<div class="widget widget-latest-post">
    <h4 class="widget-title">{{ i18n "latest_posts" }}</h4>
    <!-- .Data.Pages sind nur die aus der aktuellen Section-->
    {{ range first 40 (where .Site.Pages "IsPage" true) }}
    <div class="media">
      <a class="pull-left" href="{{ .Permalink }}">
        {{ if .Params.Photo }}
        <img class="media-object" src="{{ .Params.Photo | relURL }}" alt="{{ .Title }}">
        {{ else if .Params.Image }}
        <img class="media-object" src="{{ .Params.Image | relURL }}" alt="{{ .Title }}">
        {{ else if .Params.Bg_image }}
        <img class="media-object" src="{{ .Params.Bg_image | relURL }}" alt="{{ .Title }}">
        
        {{ else }}

        <div class="media-object">&nbsp;</div>
        {{ end }}
      </a>
      <div class="media-body">
        <h4 class="media-heading"><a href="{{ .Permalink }}">{{ .Title }}</a></h4>
        <p>{{ .Summary | truncate 80 }}</p>
      </div>
    </div>
    {{ end }}
  </div>