.underly-light {
  position: relative;
  background: change-color($light, $lightness: 90%, $alpha: 0.9);
  padding: 1em;
}

.flying-draft {
    position: fixed;
    top:  40%;
    left: 50%;
    transform-origin: 0 50%;
    transform: rotate(20deg) translate(-50%,-50%);
    color: $alert;
    font-size: 10em;
    z-index: 20;
    opacity: 0.5;
}

.author-photo {
  width: 25%;
}

.post-summary {
  height: 17em;
  overflow: hidden;
}

.flexcontainer {
  display: flex;

  width: 100%;
  align-content: center;
  justify-content: space-around;
  //background-color: change-color($primary-color, $lightness: 90%, $alpha: 0.9);
}

.flexitem {

  flex: 1;
  margin: 1em;
  padding: 1em;
  border: 1px solid $border-color;
  background-color: change-color($primary-color, $lightness: 90%, $alpha: 0.9);
}