<!DOCTYPE html>
<html lang="{{ with site.LanguageCode }}{{ . }}{{ else }}de-De{{ end }}">
{{- partial "head.html" . -}}

<body>
	{{- partialCached "preloader.html" . -}}
	{{- partial "header.html" . -}}
	{{- block "main" . }}{{- end }}
	{{- partialCached "footer.html" . -}}
</body>

</html>