{{ define "main" }}


{{ partial "page-title.html" . }}

<section class="page-wrapper">
    <div class="container">
        {{ if eq .Type "fullpage" }}
        <div class="row">
            <div class="col-md-12">
                {{ partial "post" .}}
            </div>
        </div>
        {{ else }}
        <div class="row">
            <div class="col-md-8">
                {{ partial "post" .}}
            </div>
            <div class="col-md-4">
                {{ partial "blog-sidebar.html" . }}
            </div>
        </div>
        {{ end }}
    </div>
</section>

{{ end }}