{{ if .Params.cta.enable  }}

    {{ partial "bold-banner" .Params.cta }}

{{ else }}
<section class="page-title bg-2" style="background-image: url('{{.Params.Bg_image | absURL}}');">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="block">
          <h1>{{ .Title }}</h1>
          <p>{{ .Params.Description }}</p>
        </div>
      </div>
    </div>
  </div>
</section>
{{ end }}