{{ if .Draft }}
    {{ partial "flying-draft.html" .}}
{{ end }}

<div class="post post-single">
    <h2 class="post-title">{{ .Title }}</h2>
    <div class="post-meta">
        <ul>
            <li><i class="ion-calendar"></i> {{ .PublishDate.Format ( .Site.Params.DateForm | default "2006-01-02" ) }}</li>
            <li><i class="ion-android-people"></i>
                {{ i18n "posted_by" }}
                {{if site.Params.multi_author}}
                {{ range $index, $elements:= .Params.Author }}{{ if ne $index 0 }}, {{ end }}<a class="text-primary"
                    href="{{ `author/` | relLangURL }}{{ . | urlize }}">{{ . }}</a>{{ end }}
                {{else}}
                <a class="text-primary"
                    href="{{ `author/` | relLangURL }}{{ .Params.Author | urlize }}">{{ .Params.Author }}</a>
                {{end}}
            </li>
            <li><i class="ion-pricetags"></i>
                {{ range $index, $elements:= .Params.Tags }}
                {{ if ne $index 0 }}, {{ end }}<a
                    href="{{ `tags/` | relLangURL }}{{ . | lower }}">{{ . | humanize }}</a>
                {{ end }}
            </li>
        </ul>
    </div>
    {{ if .Params.geo }}
    <div class="post-thumb">
        {{ partial "smallmap" .}}
    </div>
    {{ end }}
    {{ if .Params.Image }}
    <div class="post-thumb">
        <img class="img-responsive" src="{{ .Params.Image | relURL }}" alt="{{ .Title }}">
    </div>
    {{ end }}
    <div class="post-content post-excerpt">
        {{ .Content }}
    </div>
    <div class="post-comments">
        {{ template "_internal/disqus.html" . }}
    </div>
</div>