<!-- 
    leaflet.RevealOSM: https://github.com/yohanboniface/Leaflet.RevealOSM
    https://github.com/GuillaumeAmat/leaflet-overpass-layer
    Idee: nicht die geokoordinaten speichern, sondern auch die node-id aus dem OSM
    Bsp.: https://www.openstreetmap.org/node/5535092255
    und dann von dort lat und long auslesen...

-->

<div id="smallmap" style="height:300px">
    
</div>

<script>

    var osmStandardMap = L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
            attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
        });

    
    
    var watercolorMap = new L.LayerGroup();


    var wcBaseMap = L.tileLayer('https://stamen-tiles-{s}.a.ssl.fastly.net/watercolor/{z}/{x}/{y}.png', {
        attribution: '&copy; <a href="http://stamen.com">Stamen Design</a>'
    });    

    var wcLinesMap = L.tileLayer('https://stamen-tiles-{s}.a.ssl.fastly.net/terrain-lines/{z}/{x}/{y}.png', {
        attribution: '&copy; <a href="http://stamen.com">Stamen Design</a>'
    });
    var wcLabels = L.tileLayer('https://stamen-tiles-{s}.a.ssl.fastly.net/toner-labels/{z}/{x}/{y}.png', {
        attribution: '&copy; <a href="http://stamen.com">Stamen Design</a>'
    });

    watercolorMap
        .addLayer(wcBaseMap)
        .addLayer(wcLinesMap)
        .addLayer(wcLabels);

    var waymarkTiles = L.tileLayer('https://tile.waymarkedtrails.org/hiking/{z}/{x}/{y}.png', {
        attribution: '&copy; <a href="https://hiking.waymarkedtrails.org/">waymarkedtrails.org</a>'
    });

    var markerOverlay = new L.LayerGroup();
    L.marker([{{ .Params.geo.lat }},  {{ .Params.geo.lon }}]).bindPopup({{ .Title }}).addTo(markerOverlay);

    var map = L.map('smallmap', {
			    layers: [watercolorMap, waymarkTiles,  markerOverlay] 
		    }).setView([{{ .Params.geo.lat }},  {{ .Params.geo.lon }}], 13);
    //http://b.tile.stamen.com/watercolor/13/4376/2733.jpg
    

    var baseLayers = {
			"Wasserfarbe": watercolorMap,
			"OSM Standard": osmStandardMap
	};

	var overlays = {
        "aktueller Stempel": markerOverlay,
        "Wandermarkierung": waymarkTiles
	};

	L.control.layers(baseLayers,overlays).addTo(map);

    
</script>