{{ define "main" }}

<section class="page-404">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <a href="index.html">
          <img src="images/logo.png" alt="site logo" />
        </a>
        <h2>404</h2>
        <h3>{{ i18n "404_not_found" }}</h3>
        <a href="index.html" class="btn btn-main"><i class="tf-ion-android-arrow-back"></i> Go Home</a>
        
      </div>
    </div>
  </div>
</section>

{{ end }}