<div class="contact-box row">
      <div class="col-md-6 col-sm-12">
        <div class="block">
          <h2>{{ i18n "address_title" }}</h2>
          <ul class="address-block" style="list-style-type:none;padding: 0;margin:0">
            {{ with site.Params.author }}
            <li><i class="ion-ios-person-outline" style="display: inline-block; width:30px"></i>{{ . }}</li>
            {{ end }}
            {{ with site.Params.location }}
            <li><i class="ion-ios-location-outline" style="display: inline-block; width:30px"></i>{{ . }}</li>
            {{ end }}
            {{ with site.Params.email }}
            <li><i class="ion-ios-email-outline" style="display: inline-block; width:30px"></i>{{ . }}</li>
            {{ end }}
            {{ with site.Params.mobile }}
            <li><i class="ion-ios-telephone-outline" style="display: inline-block; width:30px"></i>{{ . }}</li>
            {{ end }}
          </ul>
          <ul class="social-icons">
            {{ range site.Params.social }}
            <li><a href="{{ .link | safeURL }}"><i class="{{ .icon }}"></i></a></li>
            {{ end }}
          </ul>
        </div>
      </div>
</div>